<h1><%= current_user.name %> さんのお客様</h1>

<div class="contents row">
  <% @client.each do |client| %>
    <% if user_signed_in? %>
      <div class="more">
        <ul class="more_list">
        <%= render partial: "clients/client", locals: { client: client } %>
          <button type="button" class="btn btn-outline-primary">
            <%= link_to 'お客様メモ', client_path(client.id), method: :get %>
          </button>
        <% if user_signed_in? && current_user.id == client.user.id %>
          <button type="button" class="btn btn-outline-primary">
            <%= link_to 'セルフチェック', client_checks_path(client.id), method: :get %>
          </button>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
