<div class="contents row">
  <% @clients.each do |client| %>
    <% if user_signed_in? && current_user.id == client.user_id %>
        <ul class="more_list">
          <li>
            <%= link_to 'お客様詳細', client_path(client.id), method: :get %>
          </li>
          <li>
            <%= link_to 'セルフチェック', client_checks_path(client.id), method: :get %>
          </li>
        </ul>
      <%= render partial: "client", locals: { client: client } %>
    <% end %>
  <% end %>
</div>