<div class="contents row">
  <% @clients.each do |client| %>
    <% if user_signed_in? %>
      <div class="more">
        <ul class="more_list">
          <button type="button" class="btn btn-outline-primary">
            <%= link_to 'お客様詳細', client_path(client.id), method: :get %>
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <%= link_to 'チェック一覧', client_checks_path(client.id), method: :get %>
          </button>
        </ul>
      <%= render partial: "client", locals: { client: client } %>
      </div>
    <% end %>
  <% end %>
</div>