<%= link_to "チェック作成", new_client_check_path, class: "post",  method: :get %>
<div class="contents row">
  <% @checks.each do |check| %>
    <% if user_signed_in? && current_user.id == check.user_id %>
      <div class="more">
          <%= render partial: "check", locals: { check: check } %>
      </div>
    <% end %>
  <% end %>
</div>
