<div class="contents row">
  <% if user_signed_in? %>
    <div class="container">

      <h5><%= image_tag 'note.png' , size: '40x40' %>セルフチェック</h5>
      
      <%= render partial: "form", locals: { check: @check } %>
     </div>
  <% end %>
</div>