<div class="contents row">
  <% if user_signed_in? %>
    <div class="container">

      <h3>セルフチェック</h3>
      
      <%= render partial: "form", locals: { check: @check } %>
     </div>
  <% end %>
</div>