/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

 $fa-font-path: '@fortawesome/fontawesome-free/webfonts';
 @import '@fortawesome/fontawesome-free/scss/fontawesome';
 @import '@fortawesome/fontawesome-free/scss/solid';
 @import '@fortawesome/fontawesome-free/scss/regular';
 @import '@fortawesome/fontawesome-free/scss/brands';
 @import '@fortawesome/fontawesome-free/scss/v4-shims';

 @import "bootstrap";

 body {
  padding: 10px 10px;
}

 .container {
  margin: 20px;
 }

 .more {
   margin-top: 20px;
 }

 .card {
  margin: 20px;
 }

 .purchase-btn {
  height: 120px;
  width: 90px;
  background: #6c757d;
  text-align: center;
  border-radius: 5%;
  bottom: 28px;
  right: 16px;
  position: fixed;
  padding: 1px;
}

.purchase-btn-text {
  color: white;
  display: block;
  font-size: 16px;
  text-decoration: none;
  margin-top: 5px;
}

.purchase-btn-icon {
  width: 100%;
}

img {
  height: 120px;
  width: 120px;
  object-fit: contain;
}

.my-blue {color: #007bff}
